#ipython-main-app {
    width: 100%;
    padding-right: 1ex;
}

.new-buttons,
#notebook_list div.list_item:nth-child(2) {
    display: none;
}

#notebook_list div.list_item.directory .shared_icon {
    visibility: hidden;
}

#notebook_list div.list_item.directory input {
    visibility: hidden;
}

.list_item:nth-child(0) {
    font-size: 30px;
}

#tree-selector {
    float: left;
}

#tree-selector .btn {
    height: 2em;
}

.dynamic-instructions {
    padding: 0;
}

.dynamic-buttons {
    padding: 0;
}

.shared-button {
    display: none;
}

.shared a:before {
    content: '';
}

.item_icon {
    margin-left: 0px;
    opacity: 0.3;
}

.item_icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: -1px;
}

.shared_icon:before {
    content: "\f1e0";
}

.notebook_icon:before,
.running_notebook_icon:before {
    content: "\f040";
}

.running a,
.running .item_icon:before {
    color: #5cb85c;
}

.writable .notebook_icon,
.writable .running_notebook_icon,
.shared .shared_icon {
    opacity: 1;
}

.container {
    width: 100%;
}

#notebook-container {
    margin-left: 0.5em;
    width: calc(100% - 1em);
}

span.save_widget {
    margin-top: 3px;
}

span.save_widget span.filename {
    font-size: small;
}

.breadcrumb {
    padding-left: 16px !important;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\f101";
    padding: 0 3px;
    color: #5e5e5e;
}