{% extends "layout-without-header.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block params %}
{{super()}}
data-base-url="{{base_url | urlencode}}"
data-notebook-path="{{notebook_path | urlencode}}"

{% endblock %}

{% block site %}

  <div id="ipython-main-app" class="container">
      <div id="notebooks" class="tab-pane active">
          <div id="notebook_list">
            <div id="notebook_list_header" class="row list_header">
              <div class="pull-left btn-group dropdown" id="tree-selector">
                <button title="Select All / None" type="button" class="btn btn-default btn-xs" id="button-select-all">
                  <input type="checkbox" class="pull-left tree-selector" id="select-all"><span id="counter-select-all">&nbsp;</span></input>
                </button>
                <button title="Select..." class="btn btn-default btn-xs dropdown-toggle" type="button" id="tree-selector-btn" data-toggle="dropdown" aria-expanded="true">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul id='selector-menu' class="dropdown-menu" role="menu" aria-labelledby="tree-selector-btn">
                  <li role="presentation"><a id="select-notebooks" role="menuitem" tabindex="-1" href="#" title="Select All Notebooks"><i class="menu_icon notebook_icon icon-fixed-width"></i> All Notebooks</a></li>
                  <li role="presentation"><a id="select-running-notebooks" role="menuitem" tabindex="-1" href="#" title="Select Running Notebooks"><i class="menu_icon running_notebook_icon icon-fixed-width"></i> Running</a></li>
                </ul>
              </div>
              <div class="pull-left">
                <div class="dynamic-instructions">
                  Select items to perform actions on them.
                </div>
                <div class="dynamic-buttons">
                  <button title="Duplicate selected" class="duplicate-button btn btn-default btn-xs">Duplicate</button>
                  <button title="Rename selected" class="rename-button btn btn-default btn-xs">Rename</button>
                  <button title="Shutdown selected notebook(s)" class="shutdown-button btn btn-default btn-xs btn-warning">Shutdown</button>
                  <button title="Delete selected" class="delete-button btn btn-default btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                </div>
              </div>
              <div class="pull-right">
                <div id="new-buttons" class="btn-group">
                  <button class="dropdown-toggle btn btn-default btn-xs" data-toggle="dropdown">
                    <span>New</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="new-menu" class="dropdown-menu">
                    <li role="presentation" class="dropdown-header" id="notebook-kernels">Notebooks</li>
                  </ul>
                </div>
                <div class="btn-group">
                    <button id="refresh_notebook_list" title="Refresh notebook list" class="btn btn-default btn-xs">
                      <i class="fa fa-refresh"></i>
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div><!-- ipython-main-app  -->

{% endblock %}

{% block script %}
    {{super()}}

{% if ignore_minified_js %}
    <script src="{{ static_url("tree/js/main.js") }}" type="text/javascript" charset="utf-8"></script>
{% else %}
    <script src="{{ static_url("tree/js/main.min.js") }}" type="text/javascript" charset="utf-8"></script>
{% endif %}
{% endblock %}

<script type="javascript">

</script>