{% extends "layout-without-header.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block params %}
{{super()}}
data-base-url="{{base_url | urlencode}}"
data-notebook-path="{{notebook_path | urlencode}}"

{% endblock %}

{% block site %}

  <div id="ipython-main-app" class="container">
      <div id="notebooks" class="tab-pane active">
          <div id="notebook_list">
            <div id="notebook_list_header" class="row list_header">
              <div id="project_name" class="pull-left">
                <ul class="breadcrumb">
                  <li><a href="{{breadcrumbs[2][0]}}"><i class="fa fa-home"></i></a></li>
                {% if breadcrumbs[3] %}
                  {% for crumb in breadcrumbs[3:] %}
                    {% if crumb[1] != 'setup' %}
                      <li>{{crumb[1]}}</li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                </ul>
              </div>
              {% if breadcrumbs[3] and notebook_path.split('/',1)[0] != '-' %}
              <div class="pull-left">
                <div class="dynamic-buttons">
                  <button title="Duplicate selected" class="duplicate-button btn btn-default btn-xs">Duplicate</button>
                  <button title="Rename selected" class="rename-button btn btn-default btn-xs">Rename</button>
                  <div class="btn-group dropdown">
                    <button title="Toggle shared status of selected notebook(s)"
                            class="shared-button dropdown-toggle btn btn-default btn-xs"
                            data-toggle="dropdown">
                      <span>Shared</span>
                      <span class="caret"></span>
                    </button>
                    <ul id="cross-shared-menu" class="dropdown-menu">
                      <li role="presentation" id="cross-to-shared" class="cross-origin shared" data-origin="shared">
                        <a role="menuitem" tabindex="-1" href="#">
                          <i class="item_icon shared_icon"></i>
                          <span>Shared with all users</span>
                        </a>
                      </li>
                      <li role="presentation" id="cross-to-owner" class="cross-origin owner" data-origin="owner">
                        <a role="menuitem" tabindex="-1" href="#">
                          <i class="item_icon shared_icon"></i>
                          <span>Shared with my tenants</span>
                        </a>
                      </li>
                      <li role="presentation" id="cross-to-de-fault" class="cross-origin default" data-origin="default">
                        <a role="menuitem" tabindex="-1" href="#">
                          <i class="item_icon shared_icon"></i>
                          <span>Non shared</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <button title="Shutdown selected notebook(s)" class="shutdown-button btn btn-default btn-xs btn-warning">Shutdown</button>
                  <button title="Delete selected" class="delete-button btn btn-default btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                </div>
              </div>
              {% endif %}
              <div class="pull-right">
                {% if breadcrumbs[3] and notebook_path.split('/',1)[0] != '-' %}
                <div id="new-buttons" class="btn-group new-buttons">
                  <button class="dropdown-toggle btn btn-default btn-xs" data-toggle="dropdown">
                    <span>New</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="new-menu" class="dropdown-menu">
                    <li role="presentation" class="dropdown-header" id="notebook-kernels">Notebooks</li>
                  </ul>
                </div>
                {% endif %}
                <div class="btn-group">
                    <button id="refresh_notebook_list" title="Refresh notebook list" class="btn btn-default btn-xs">
                      <i class="fa fa-refresh"></i>
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div><!-- ipython-main-app  -->

{% endblock %}

{% block script %}
    {{super()}}

{% if ignore_minified_js %}
    <script src="{{ static_url("tree/js/main.js") }}" type="text/javascript" charset="utf-8"></script>
{% else %}
    <script src="{{ static_url("tree/js/main.min.js") }}" type="text/javascript" charset="utf-8"></script>
{% endif %}
{% endblock %}

<script type="javascript">

</script>